.content {
  padding: 24px;
}
.training-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 24px;
}
.training-grid > div {
  border: 1px solid #e9edf4;
  border-radius: 6px;
  background: white;
}
.training-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
@media (max-width: 1199px) {
  .training-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 767px) {
  .training-grid {
    grid-template-columns: 1fr;
  }
  .content {
    padding: 16px;
  }
}
